
# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

coverage
.vscode

# cypress testing artifacts
cypress/screenshots/*
cypress/videos/*
